body {
	font-family: Ubuntu, Courier;
	background-color: #4CAF50;
}

/* --- HEADER --- */

header {
	/* border: 3px solid; */ 
	background-color: #4CAF50;
	/* padding-top: 20px; */
	position: absolute;
	bottom: 50%;
	right: 50%;
	transform: translateX(50%) translateY(50%);
	/* on-click >> add the padding (bounce effect?), increase bottom to 90%, then remove position, bottom, right, and transform */
}

header span {
	color: #cccccc;
}

/* split class to hold styles for the main branching option*/
.split {
	color: #cccccc;
}

.centered { 
	text-align: center;
}

/* --- MENU --- */

li.menulist a.selected {
	font-weight: bold;
}

/* --- GENERAL --- */ 

a {
	color: #cccccc;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

/* --- BODY --- */ 

section#content {
	width: 75%;
	float: left;
	box-sizing: border-box;
	background-color: #4CAF50;
	color: #cccccc;
}

nav {
	width: 25%;
	float: right;
	background-color: #4CAF50;
	color: #cccccc;
}

ul {
	list-style-type: none;
	padding-left: 20px;
}

li:before {
	content: " - ";
	padding-right: 10px;
}

.group:after {
	content: "";
	display: table;
	clear: both;
}

/* collapsible headers */

h2, h3 {
	display: inline-block;
}

h2:hover, h3:hover {
	text-decoration: underline;
}

h2.collapsible, h3.collapsible {
	cursor: pointer;
}

h2.empty:hover, h3.empty:hover {
	text-decoration: none;
}

h2.empty, h3.empty` {
	cursor: default;
}


/* plus/minus signs for expand/collapse options */

.collapsible::after {
  content: '\02795';
  font-size: 0.5em;
  color: #cccccc;
  margin-left: 5px;
  display: inline-block; /* prevents the pseudo-element from being underlined when hovered over */
}

.active::after {
  content: "\2796";
}


/* indentations */

.bullet {
	padding-left: 10%;
}

.line {
	padding-left: 10%;
	display: none;
}

.project, .entry{
	display: none;
}

/* --- FOOTER --- */

footer {
	text-align: right;
	font-size: x-small; /* check */
}
